<section class="bg-primary min-vh-100" style="background-image: url(<%= asset_path('background-about.png') %>)">
  <%= render 'shared/navbar' %>
    <div class="container align-items-center d-flex fixed-height">
      <div class="row d-flex align-items-center">
        <div class="col-sm-12 col-md-6 centered">
          <%= image_tag("louise-hill.png", alt: "Louise Hill", class: "profile-image") %>
        </div>
          <div class="col-sm-12 col-md-6">
              <h1 class="text-white pt-4">Speaking the languages of tech, business and design</h1>
          </div>
      </div>
    </div>
        <div class="centered">
          <%= image_tag("scroll-arrow.svg", alt: "Scroll arrow", class: "bouncing-arrow") %>
        </div>
</section>

<section class="bg-primary py-5">
  <div class="container min-vh-50">
  <div class="row py-5">
  <div class="col-sm-12 col-md-6">
     <h1 class="text-white pb-3">Making things happen</h1>
  </div>
    <div class="col-sm-12 col-md-6">
      <p class="dark-text">I'm a highly strategic product designer and junior full-stack developer. I love coming up with a vision with an awesome team, keeping everyone motivated, and making it happen!</p> 
      <p class="dark-text">I have a background in coding, graphic design, UX design, art direction, business operations and teaching. I use this accumulated knowledge to facilitate and create digital products that balance business, customer and technology requirements and achieve effective results.</p>
      <p class="dark-text">I live in sunny Lisbon so when I am not designing or coding I like to head to the beach, tend to my plant babies, DJ or get out into nature.</p>
    </div>
  </div>
</section>

<section class="bg-mid-primary alignment">
  <div class="container py-5">
    <div class="row py-5">
      <div class="col-sm-12 col-md-6">
        <h1 class="text-white pb-3">Some of the brands I've worked with</h1>
      </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5">
          <p class="dark-text pb-5">Over the years I’ve worked with companies of all shapes and sizes, both on a design and a consulting basis. Here are just a few.</p>
              <div class="d-flex justify-content-between px-3 pb-5 flex-wrap">
                <div>
                  <%= image_tag "happy-not-perfect.svg", alt: "Happy Not Perfect Logo", class: "py-3 pr-3" %>
                </div>
                <div>
                  <%= image_tag "rococo-chocolates.svg", alt: "Rococo Chocolates Logo", class: "py-3 pr-3" %>
                </div>
                <div>
                  <%= image_tag "ice.svg", alt: "Institution of Civil Engineers Logo", class: "py-3 pr-3" %>
                </div>
                <div>
                  <%= image_tag "detox-kitchen.svg", alt: "Detox Kitchen Logo", class: "py-3 pr-3" %>
                </div>
                <div>
                  <%= image_tag "natural-history-museum.svg", alt: "Natural History Museum Logo", class: "py-3 pr-3" %>
                </div>
                <div>
                   <%= image_tag "pernod-ricard.svg", alt: "Pernod Ricard Logo", class: "py-3 pr-3" %>
                </div>
              </div>
          <%= link_to "https://www.linkedin.com/in/louisehilltech", target: :_blank do %>
          <span class="link-external">More info on Linkedin
          <%= image_tag("arrow-up-right.svg", alt: "Link arrow", class: "up-arrow") %>
          </span>
          <% end %>
          </div>
        </div>
    </div>
  </div>
</section>

<section class="align-items-center justify-content-center py-5 bg-primary">
  <div class="container py-5">
    <div class="row py-5">
      <div class="col-sm-12 col-md-6 py-3">
        <h1 class="text-white">Let's work together</h1>
      </div>
        <div class="col-sm-12 col-md-6 py-3">
          <h6 class="subhead">Email</h6>
          <p class="email dark-text">louisehilltech@gmail.com</p>
        </div>
    </div>
  </div>
</section>

