<section class="bg-primary">
  <%= render 'shared/navbar' %>
    <div class="container alignment min-vh-100 pb-5">
        <div class="row mx-5 pt-5">
          <div class="col-sm-12 col-md-6">
            <%= image_tag("louise-hill.png", alt: "Louise Hill", class: "profile-image py-4") %>
          </div>
            <div class="col-sm-12 col-md-6">
                <h1 class="text-white py-3">Speaking the languages of tech, business and design</h1>
                <p class="dark-text">I'm a highly strategic product designer and junior full-stack developer. I love coming up with a vision with an awesome team, keeping everyone motivated, and making it happen!</p> 
                <p class="dark-text">I have a background in coding, graphic design, UX design, art direction, business operations and teaching. I use this accumulated knowledge to facilitate and create digital products and experiences that balance business, customer and technology requirements and achieve effective and measurable results.</p>
                <p class="dark-text">I live in sunny Lisbon so when I am not designing or coding I like to head to the beach, tend to my plant babies, DJ or get out in nature.</p>
            </div>
          </div>
      </div>
</section>

<section class="min-vh-100 bg-dark-primary alignment">
  <div class="container">
    <div class="row mx-5">
      <div class="col-sm-12 col-md-6">
        <h1 class="text-white pb-3">Some of the brands I've worked with</h1>
      </div>
        <div class="col-sm-12 col-md-6">
          <p class="dark-text pb-5">Over the years I’ve worked with companies of all shapes and sizes, both on a design and a consulting basis. Here are just a few.</p>
            <div class="d-flex justify-content-between pb-5 col-sm-6 col-md-12">
              <%= image_tag "natural-history-museum.svg", alt: "Natural History Museum Logo" %>
              <%= image_tag "detox-kitchen.svg", alt: "Detox Kitchen Logo" %>
              <%= image_tag "happy-not-perfect.svg", alt: "Happy Not Perfect Logo" %>
          </div>
            <div class="d-flex justify-content-between pb-5 pb-5 col-sm-6 col-md-12">
              <%= image_tag "rococo-chocolates.svg", alt: "Rococo Chocolates Logo" %>
              <%= image_tag "ice.svg", alt: "Institution of Civil Engineers Logo" %>
              <%= image_tag "pernod-ricard.svg", alt: "Pernod Ricard Logo" %>
            </div>
              <div>
                <%= link_to "#" do %>
                <span>
                <h6 class="link-external-white pt-5">More info on Linkedin
                <%= image_tag("arrow-up-right-white.svg", alt: "Link arrow", class: "up-arrow") %>
                </h6>
                </span>
                <% end %>
              </div>
          </div>
    </div>
  </div>
</section>

<section class="align-items-center justify-content-center py-5 bg-darkest-primary">
  <div class="container py-5">
    <div class="row py-5 mx-5">
      <div class="col-sm-12 col-md-6 py-3">
        <h1 class="text-white">Let's work together</h1>
      </div>
        <div class="col-sm-12 col-md-6 py-3">
          <h6>Email</h6>
          <p class="email dark-text">louisehilltech@gmail.com</p>
        </div>
    </div>
  </div>
</section>

