<section class="bg-dark-green min-vh-100">
  <%= render 'shared/navbar' %>
    <div class="container">
      <div class="d-flex flex-column justify-content-between pt-5 fixed-height">
        <span class="pt-3">
          <%= link_to pages_home_path do %>
          <%= image_tag("arrow-left.svg", alt: "Back arrow", class: "back-arrow") %>
          <span class="back">All projects</span>
          <% end %>
        </span>
          <div class="pb-5">
            <h1 class="centered row display-2 text-white">Cultivate</h1>
            <h6 class="centered text-center row brand">By Farmdrop</h6>
          </div>
            <div class="centered row pb-3">
              <h6 class="tags pr-5">#UX research</h6>
              <h6 class="tags">#Branding</h6>
              <h6 class="tags pl-5">#UI design</h6>
            </div>
      </div>
    </div>
</section>

<section class="min-vh-100 bg-dark-green">
  <div class="container">
     <div class="row align-items-center py-3 mx-5">
       <%= image_tag("cultivate-home.png", alt: "Cultivate home screen", class: "col-12 col-md-4 py-3") %>
       <%= image_tag("cultivate-tracking.png", alt: "Cultivate tracking screen", class: "col-12 col-md-4 py-3") %>
       <%= image_tag("cultivate-event.png", alt: "Cultivate event booking screen", class: "col-12 col-md-4 py-3") %>
     </div>
  </div>
</section>

<section class="min-vh-100 bg-gray alignment">
  <div class="align-items-center pb-5 pt-5">
    <div class="container">
      <h6 class="pt-3">The challenge</h6>
      <h1 class="pb-5">Design an app prototype in 2 weeks which provides customers with an opportunity to track their health and book onto events.</h1>
    </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-4 pb-3">
            <h6>Background</h6>
            <p>Farmdrop is a British sustainable and ethical food delivery company which provides customers with farm-fresh food, locally-sourced fish, everyday essentials and household goods. They are on a mission to “fix the food chain” and pay farmers 70% of profits made from food they sell.</p>
          </div>
            <div class="col-sm-12 col-md-4 pb-3">
              <h6>The outcome</h6>
              <p>In just 2 weeks our team of 3 researched and created a high fidelity prototype of an app that gamified health tracking. Through syncing shopping points and viewing health data, Farmdrop customers could unlock events to attend with their friends.</p>
            </div>
              <div class="col-sm-12 col-md-4 pb-3">
                <h6>Team</h6>
                <p class="pb-3"><u>
                <%= link_to "Oliver Shaw", "#", class: "desc-link"  %></u>, 
                <u>
                <%= link_to "Christine Anh Hoang", "#", class: "desc-link" %>
                </u>, Louise Hill</p>
                <h6>Role</h6>
                <p class="pb-3">UX Research, Strategy, Branding, UI design</p>
                <h6>Project type</h6>
                <p class="pb-3">Student, concept @ General Assembly</p>
              </div>
        </div>
          <%= link_to "#" do %>
          <span>
          <h6 class="link-external">In-depth user research article on medium
          <%= image_tag("arrow-up-right.svg", alt: "Link arrow", class: "up-arrow") %>
          </h6>
          </span>
          <% end %>
      </div>
  </div>
</section>

<section>
  <%= image_tag("cultivate-billboard.png", alt: "Cultivate home screen", class: "w-100") %>
</section>

<section class="min-vh-100 bg-light-green alignment">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h1 class="pb-1">"I feel guilty when I don’t reach my health goals"</h1>
        <p class="quote">Monica, target Farmdrop customer</p>
      </div>
        <div class="col-sm-12 col-md-6">
          <p>Surveys and interviews with Farmdrop customers and target future customers showed an audience who regularly track their fitness with texhnology and lead very healthy lifestyles.</p>
          <p>So how could Farmdrop help?</p>
          <p>We noticed a trend in feeling guilty or bad when not hitting lifestyle goals. We saw an opportunity to offer health-tracking with a unique twist...</p>
        </div>
    </div>
  </div>
</section>

<section class="min-vh-100 bg-light-green">
  <div class="container pt-5">
    <div class="row align-items-center py-3 mx-5">
      <%= image_tag("welcome-screen.png", alt: "Cultivate welcome screen", class: "col-12 col-md-4 py-3") %>
      <%= image_tag("works.png", alt: "Cultivate how it works screen", class: "col-12 col-md-4 py-3") %>
      <%= image_tag("sync.png", alt: "Cultivate sync screen", class: "col-12 col-md-4 py-3") %>
    </div>
  </div>
</section>

<section class="min-vh-100 bg-light-green alignment">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 pb-3">
        <h1 class="pb-1">“I could quite fairly be accused of being a founder who is more driven by ethics than profit — because I am”</h1>
        <p class="quote">Ben Pugh, CEO, Farmdrop</p>
        <p><u>
        <%= link_to "Sifted.eu", "#", class: "desc-link" %>
        </u></p>
      </div>
        <div class="col-sm-12 col-md-6 pb-3">
          <p>We had to incorporate Farmdrop’s values and culture. We needed to create a product which fit seemlessly with their current mix of apps and services.</p>
          <p>We had to be carefull to consider ethical implications around data collection. We needed to build trust and make sure the user would be fully in control of how they share and track their data.</p>
        </div>
    </div>
  </div>
</section>

<section>
  <%= image_tag("cultivate-phone-mockup.png", alt: "Cultivate app on a phone", class: "w-100") %>
</section>

<section class="min-vh-100 bg-gray alignment">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 pb-3">
        <h1 class="pb-1">“Relaxing for me is doing fun activities with my friends”</h1>
        <p class="quote">Alma, Farmdrop customer</p>
      </div>
        <div class="col-sm-12 col-md-6 pb-3">
          <p>We noticed another nice business opportunity. Our interviewees led busy social lives and loved to attend events with their friends. When we asked how they found out about Farmdrop we discovered it was typically through a friend’s recommendation, so we knew inviting friends along to events through a free ticket could be a great way to further build the Farmdrop community.</p>
          <p>Enter Cultivate—an app which rewards customers for making healthy choices through unlocking fun events to attend with friends, whilst offering a more balanced approach to keeping fit and healthy.</p>
        </div>
    </div>
  </div>
</section>

<section class="min-vh-100 bg-white">
  <h1>video to go here of prototype</h1>
</section>

<section class="bg-dark-blue alignment py-5">
  <div class="py-5">
    <h6 class="centered row brand">Next project</h6>
    <h1 class="centered row display-2 text-white">Inky</h1>
  </div>
</section>
