<section class="bg-primary min-vh-100" style="background-image: url(<%= asset_path('background-home.png') %>)">
  <%= render 'shared/navbar' %>
    <div class="container">
      <div class="d-flex container flex-column justify-content-center fixed-height">
       <h1 class="centered weight display-1 row text-white">Louise Hill</h1>
       <h2 class="centered row light-gray-text">Product designer</h2>
       <h2 class="centered row light-gray-text">& Strategist</h2>
      </div>
      <div class="pb-5 centered">
        <%= image_tag("scroll-arrow.svg", alt: "Scroll arrow", class: "bouncing-arrow") %>
      </div>
    </div>
  </section>

  <section class="bg-mid-primary min-vh-100">
    <div class="container py-5">
        <h2 id="projects" class="centered pt-5 pb-5 text-white">Work</h2>
        <div class="row no-underline">
          <div class="col-sm-12 col-md-12 pb-5">
            <%= link_to pages_cultivate_path, class: "link-external-title" do %>
              <%= image_tag("cultivate-billboard-2.png", alt: "Cultivate billboard", class: "featured-cultivate w-100") %>
              <h3 class="sub pt-4 centered">Cultivate<%= image_tag("link-arrow.svg", alt: "link arrow", class: "pl-3") %></h1>
              <p class="pt-1 centered px-5">How do you help people feel good about tracking their health?</p>
              <% end %>
           </div>
              <div class="col-sm-12 col-md-6 pb-5 pt-5">
                <%= link_to pages_patched_path, class: "link-external-title" do %>
                  <%= image_tag("tomatoes-planting.png", alt: "Patched app on phone", class: "featured w-100") %>
                  <h3 class="sub pt-4 centered">Patched<%= image_tag("link-arrow.svg", alt: "link arrow", class: "pl-3") %></h1>
                  <p class="pt-1 px-5 centered">If you have a team of 4, 10 days, and free reign to build anything, what do you make?</p>
                  <% end %>
              </div>
                <div class="col-sm-12 col-md-6 pb-5 pt-5">
                  <%= link_to pages_inky_path, class: "link-external-title" do %>
                    <%= image_tag("inky-phone.png", alt: "Kid using Inky app", class: "featured w-100") %>
                    <h3 class="sub pt-4 centered">Inky<%= image_tag("link-arrow.svg", alt: "link arrow", class: "pl-3") %></h1>
                    <p class="pt-1 centered px-5">How do you boost machine learning and AI, connect foreign language speakers and harness the opportunities of a ‘walkie talkie’ interaction?</p>
                    <% end %>
                </div>
                    <div class="col-sm-12 col-md-12 pb-5 pt-5">
                    <%= link_to pages_smb_path, class: "link-external-title" do %>
                      <%= image_tag("smb-tool-phone.png", alt: "Business person using the SMB tool on a phone", class: "featured-cultivate w-100") %>
                      <h2 class="sub pt-4 centered">SMB Tool<%= image_tag("link-arrow.svg", alt: "link arrow", class: "pl-3") %></h1>
                      <p class="pt-1 centered px-5 kill mx-3">How do you help align a team of content creators, developers, project managers, designers and pitch to a world-renound client?</p>
                      <% end %>
                  </div>
        </div>
    </div>
  </section>
