<section class="min-vh-100">
<%= render 'shared/navbar' %>
  <div class="container align-items-center fixed-height d-flex">
    <div class="row align-items-center fixed-height">
        <div class="col-sm-12 col-md-6 py-5 justify-content-between">
            <h1 class="">Work</h1>
            <p class="">Louise works across multiple areas of design and product. She can apply her expertise to any challenge your organisation may face.</p>
            <button type="button" class="btn btn-primary">Contact Louise</button>
        </div>
        <div class="col-sm-12 col-md-6 centered">
          <%= image_tag("work-graphic.svg", alt: "Louise and some graphic shapes", class: "") %>
        </div>
    </div>
  </div>
      <div class="pb-5 centered">
        <%= image_tag("scroll-arrow.svg", alt: "Scroll arrow", class: "bouncing-arrow") %>
      </div>
</section>

<section class="min-vh-100 bg-gray">
  <div class="container align-items-center fixed-height">
    <div class="row align-items-center fixed-height">
        <div class="col-sm-12 col-md-6 py-5">
        <div class="row row-cols-1 row-cols-md-1 gx-3">
        <div class="col">
          <div class="card h-100">
            <div class="card-body background">
              <p class="card-text tag">Transformation</p>
              <h4 class="card-title pb-3">Helping an Energy Client embrace Lean processes</h4>
            </div>
            <div class="card-footer">
              <small class="text-muted">arrow</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <p class="card-text tag">Brand strategy</p>
              <h4 class="card-title pb-3">Design for rapid scaling</h4>
            </div>
            <div class="card-footer">
              <small class="text-muted">arrow</small>
            </div>
          </div>
    </div>
  </div>
</section>

<section class="min-vh-100 bg-gray">
  <div class="container align-items-center fixed-height">
    <div class="row align-items-center fixed-height">
        <div class="col-sm-12 col-md-6 py-5">
        <div class="row row-cols-1 row-cols-md-1 g-3">
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <p class="card-text tag">Transformation</p>
              <h4 class="card-title pb-3">Helping an Energy Client embrace Lean processes</h4>
            </div>
            <div class="card-footer">
              <small class="text-muted">arrow</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <p class="card-text tag">Brand strategy</p>
              <h4 class="card-title pb-3">Design for rapid scaling</h4>
            </div>
            <div class="card-footer">
              <small class="text-muted">arrow</small>
            </div>
          </div>
    </div>
  </div>
</section>

<section class="bg-primary alignment py-5">
<div class="py-5">
  <p class="centered row brand light-gray-text">Next project</p>
    <%= link_to pages_about_path, class: "link-external-title" do %>
      <h2 class="sub pt-4 centered link-external-title next-arrow">About<%= image_tag("link-arrow.svg", alt: "link arrow", class: "") %></h1>
    <% end %>
</div>
</section>

