<section class="bg-dark-charcoal min-vh-100">
  <%= render 'shared/navbar' %>
    <div class="container">
      <div class="row align-items-center fixed-height d-flex">
        <div class="col-sm-12 col-md-6 centered">
          <%= image_tag("case-smb.png", alt: "smb tool phone mockup", class: "profile-image pt-3") %>
        </div>
          <div class="col-sm-12 col-md-6">
            <p class="light-gray-text">SMB Tool</p>
            <h1 class="text-white">Tailored business advice,</h1>
            <h1 class="text-white">clicks away</h1>
          </div>
      </div>
    </div>
        <div class="centered">
          <%= image_tag("scroll-arrow.svg", alt: "Scroll arrow", class: "bouncing-arrow") %>
        </div>
</section>

<section class="min-vh-50 bg-dark-charcoal">
  <div class="container">
     <div class="row align-items-center py-5 mx-5">
       <%= image_tag("smb-secure.png", alt: "Security section of questionnaire", class: "col-12 col-md-4 py-3") %>
       <%= image_tag("smb-operational-excellence.png", alt: "Operational excellence section of questionnaire", class: "col-12 col-md-4 py-3") %>
       <%= image_tag("smb-it-costs.png", alt: "IT costs section of questionnaire", class: "col-12 col-md-4 py-3") %>
     </div>
  </div>
</section>

<section class="min-vh-50 bg-gray alignment">
  <div class="align-items-center pb-5 pt-5">
    <div class="container">
      <p class="text-gray">The challenge</p>
      <h1 class="pb-5">Design a questionnaire tool prototype to connect small and medium-sized businesses with relevant information about a large brand's services.</h1>
    </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-4 pb-3">
            <p class="text-gray">Background</p>
            <p>The brand provides computing platforms and APIs to individuals, companies, and governments.</p>
            <p>The brand wanted to target small and medium business and IT decision-makers to digitally transform their organisations.</p>
          </div>
            <div class="col-sm-12 col-md-4 pb-3">
            <p class="text-gray">The outcome</p>
              <p>A responsive web app questionnaire tool prototype handed over to development, tested internally and used both to communicate clearly with the client and help other teams to plan content and timelines.</p>
            </div>
              <div class="col-sm-12 col-md-4 pb-3">
                <p class="text-gray">Team</p>
                <p class="pb-3">Content team, Project Managers, Strategists, Dev team, Junior UX designer</p>
                <p class="text-gray">Role</p>
                <p class="pb-3">UX Design, UI Design</p>
                <p class="text-gray">Project type</p>
                <p class="pb-3">Discovery and delivery</p>
              </div>
        </div>
  </div>
</section>

<section>
  <%= image_tag("smb-tool-phone.png", alt: "Business person using the SMB tool on a phone", class: "w-100") %>
</section>

<section class="min-vh-50 bg-gray alignment">
  <div class="container py-5">
    <div class="row py-5">
      <div class="col-sm-12 col-md-6">
        <h1 class="pb-3">Clarity through diagrams</h1>
      </div>
        <div class="col-sm-12 col-md-6">
          <p>I chatted with the consulting team about the wider discovery process with the client and asked:</p>
          <ul>
            <li>Who are the target audience?</li>
            <li>What are their typical pain points and needs?</li>
            <li>What are their biggest priorities?</li>
          </ul>
          <p>I created a flow diagram with the information I had been provided with and checked in with the team to ensure I had a correct understanding of all the product requirements, adjusting the flow as necessary during these early conversations.</p>
        </div>
    </div>
  </div>
</section>

<section class="min-vh-50 bg-gray">
  <div class="container py-5">
    <div class="row align-items-center py-3 mx-5">
      <%= image_tag("smb-form.png", alt: "Form to collect additional information", class: "col-12 col-md-4 py-3") %>
      <%= image_tag("smb-tech-future.png", alt: "Future tech section of questionnaire", class: "col-12 col-md-4 py-3") %>
      <%= image_tag("smb-priorities.png", alt: "Top priorities section", class: "col-12 col-md-4 py-3") %>
    </div>
  </div>
</section>

<section class="min-vh-50 bg-white alignment">
  <div class="container py-5">
    <div class="row py-5">
      <div class="col-sm-12 col-md-6 pb-3">
        <h1 class="pb-1">Prototypes bring alignment and understanding</h1>
      </div>
        <div class="col-sm-12 col-md-6 pb-3">
          <p>I quickly created a basic mobile prototype with lorem ipsum copy, incorporating the user flow agreed with the consultants.</p> 
          <p>This allowed for deeper understanding across all teams and helped to save time through communicating visually.</p> 
          <p>I checked in with the Junior UX designer, filled them in on the context and goals and planned out remote user testing with them. I offered feedback on testing scripts and recording materials to ensure any assumptions or questions around usability that had occured whilst I had been designing were covered.</p>
        </div>
    </div>
  </div>
</section>

<section>
  <%= image_tag("smb-desktop.png", alt: "SMB tool on desktop", class: "w-100") %>
</section>

<section class="min-vh-50 bg-white alignment">
  <div class="container py-5">
    <div class="row py-5">
      <div class="col-sm-12 col-md-6 pb-3">
        <h1 class="pb-1">Test, iterate, deliver, repeat</h1>
      </div>
        <div class="col-sm-12 col-md-6">
          <p>We tested out our prototype, now more refined, with <u>
          <%= link_to "5 participants.", "https://www.nngroup.com/articles/why-you-only-need-to-test-with-5-users", target: :_blank, class: "desc-link" %>
          </u></p>
          <p>Key changes were:</p>
          <ul>
            <li>Making the progress bar a single colour for visual clarity</li>
            <li>Refining error messaging</li>
            <li>Removing sticky buttons on forms to maintain focus on the content</li>
          </ul>
          <p>Along with the team, I presented the testing results and prototype to the client and discussed plans for the production designs.</p>
          <p>Following this I created production-ready prototypes across web, tablet and mobile with custom illustrations, based on the client's brand guidelines, and handed these designs and assets over to the dev team for implementation and further testing.</p>     
    </div>
  </div>
</section>

<section class="bg-video">
  <div style="padding:50.88% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/582487597?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="SMB Tool"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
</section>

<section class="bg-primary alignment py-5">
<div class="py-5">
  <p class="centered row brand light-gray-text">Next project</p>
    <%= link_to pages_about_path, class: "link-external-title" do %>
      <h2 class="sub pt-4 centered link-external-title next-arrow">Inky<%= image_tag("link-arrow.svg", alt: "link arrow", class: "") %></h1>
    <% end %>
</div>
</section>

